In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [4]:
#See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
chipo.shape[0], chipo.shape[1]

(4622, 5)

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
#Most ordered item
chipo.groupby('item_name').sum().sort_values(by='quantity',ascending=False)[:1]

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [31]:
chipo.groupby('choice_description').sum().sort_values(by='quantity', ascending=False)[:1]

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [32]:
chipo.quantity.sum()

4972

In [34]:
chipo.item_price.values[:10]

array(['$2.39 ', '$3.39 ', '$3.39 ', '$2.39 ', '$16.98 ', '$10.98 ',
       '$1.69 ', '$11.75 ', '$9.25 ', '$9.25 '], dtype=object)

In [37]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.strip('$')))

In [38]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [42]:
chipo['total_price'] = chipo.item_price * chipo.quantity
'$ '+str(chipo.total_price.sum())

'$ 39237.02'

In [46]:
chipo.order_id.value_counts().count()

1834

In [48]:
chipo.groupby('order_id').sum()['total_price'].mean()

21.39423118865867

In [51]:
chipo.item_name.value_counts().count()

50